body{
    background-color: #9e754d;
    padding: 30px;
}

.Shelf{
    display: flex;
    background-color: #7a5939;
    justify-content: center;
}

.book{
    justify-content: center;
    align-items: center;
    background-color: #7faae8;
    white-space: pre-line;
    min-height: 100px;
    min-width: 200px;
    margin: 20px;
    padding: 10px 30px 10px 30px;
    font-size: 30px;
}

.newBookButton{
    width: 100%;
    background-color: #9e754d;
    border-style: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    outline: none;
    padding: 10px 16px;
}

dialog{
    background-color: #fcfaf6;
    border: none;
    white-space: pre-line;
    width: 400px;
    box-shadow: 5px 5px 2px 0px #00000060;
}
input{
    width: 390px;
}

select{
    background-color: #FFFFFF;
    border: 1px solid grey;
}

.deleteButton{
    width: 100%;
    background-color: #5b86c2;
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    margin: 5px;
    padding: 10px 16px;
}

.statusButton{
    width: 100%;
    background-color: #5278ae;
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    margin: 5px;
    padding: 10px 16px;
}